body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game {
    position: relative;
    width: 800px;
    height: 400px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f8252e7b-a982-45af-b5c8-10465cf523c2/d4c3117-515ca734-1ce6-4ef4-acf7-a41f06adc518.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y4MjUyZTdiLWE5ODItNDVhZi1iNWM4LTEwNDY1Y2Y1MjNjMlwvZDRjMzExNy01MTVjYTczNC0xY2U2LTRlZjQtYWNmNy1hNDFmMDZhZGM1MTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.FiQ4UjnoGOTBvEd7fnClEBLCmSVMBJnhB0ZG-bDxCeo);
    border: 2px solid #000;
    background-size: cover;
    background-repeat: no-repeat;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
}

#player1 {
    background-color: red;
    left: 50px;
    bottom: 50px;
}

#player2 {
    background-color: blue;
    right: 50px;
    bottom: 50px;
}

.ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.ball.ultimate {
    background-color: red;
}

.rect.ultimate {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}

.health-bar, .ultimate-bar {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: #555;
}

/* .health {
    background-color: red;
    height: 100%;
} */

.lost-health {
    background-color:  red;
    height: 100%;
}

.ultimate {
    background-color: blue;
    height: 100%;
}

#health1 {
    left: 10px;
    top: 10px;
    background-color: greenyellow;
}

#ultimate1 {
    left: 10px;
    top: 22px;
    background-color: red;
}

#health2 {
    right: 10px;
    top: 10px;
    background-color: greenyellow;
}

#ultimate2 {
    right: 10px;
    top: 22px;
    background-color: cyan;

}

.purple-projectile {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    z-index: 10;
    animation: hollow 4s ease-out;

}

@keyframes hollow {
    0% {
        width: 20px;
        height: 20px;
    }

    3% {
        width: 20px;
        height: 20px;
    }

    100% {
        width: 50px;
        height: 50px;
    }
}
.message {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 2px 2px 4px black;
    z-index: 9999;

    transition: opacity 0.3s ease-in-out; /* Animação de fade */
}

.message.active {
    opacity: 1; /* Torna o texto visível */
}
.mine {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: cyan;
    border-radius: 50%;
    z-index: 10;
}
.explosion {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 0, 255, 0.9);
    top: 0;
    left: 0;
    z-index: 9999;
}
.horizontal-bar {
    position: absolute;
    width: 300px;
    height: 20px;
    background-color: orange;
    z-index: 10;
}